<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuanghua.chat.server">

    <!-- 允许应用程序改变网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 允许应用程序改变WIFI连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 允许应用程序访问有关的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许应用程序访问WIFI网卡的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许应用程序完全使用网络 -->
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name="com.shuanghua.chat.server.SHApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.shuanghua.chat.server.activity.LoginActivity" />
        <activity
            android:name="com.shuanghua.chat.server.activity.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <service
            android:name="com.shuanghua.chat.common.service.TCPService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.shuanghua.service.tcpservice"></action>
            </intent-filter>
        </service>
        <receiver
            android:name="com.shuanghua.chat.common.receiver.TCPReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.shuanghua.receiver.tcpreceiver"></action>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="IP"
            android:value="192.168.1.68" >
        </meta-data>
        <meta-data
            android:name="PORT"
            android:value="8888" >
        </meta-data>
    </application>

</manifest>
